@model IEnumerable<ProyectoGiasaWeb.Models.CatInsumo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Catalogo Insumos</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Insumo</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.insumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costohr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.insumo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costohr)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idCatinsumo" class="btn btn-outline-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.idCatinsumo" class="btn btn-outline-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.idCatinsumo" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Regresa" class="btn btn-primary"> Atras</a>
</div>